<md-dialog ng-cloak ng-controller="PasswordResetController as reset">
    <form name="resetForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Forgot your password?</h2>
                <span flex></span>
                <md-button type="button" class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="images/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px; ">
            <div class="md-dialog-content">
                <md-input-container class="md-block">
                    <label>Email</label>
                    <input type="email" name="email" ng-model="reset.user.email" minlength="10" maxlength="100"
                           ng-pattern="/^.+@.+\..+$/"/>

                    <div ng-messages="resetForm.user.email.$error" role="alert">
                        <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']"> Your email must be
                            between 10 and 100 characters long and look like an e-mail address.
                        </div>
                    </div>
                </md-input-container>
                <div class="modal-footer">
                    <p class="text-center"> Not here before?
                        <a ng-click="reset.showSignUpModal($event)"> Sign Up. </a>
                        <br>
                        Already have an account?
                        <a ng-click="reset.showSignInModal($event)"> Sign In. </a></p>
                </div>
            </div>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <md-button ng-click="answer('cancel')">
                cancel
            </md-button>
            <button ng-click="reset.reset()" ng-disabled="resetForm.$invalid"
                    style="margin-right:20px;margin-left: 10px;"
                    class="btn  btn-block btn-lg btn-primary"
                    ng-disabled="reset.isLoading()">
                <md-progress-linear ng-show="reset.isLoading()" md-mode="indeterminate"></md-progress-linear>
                Retrieve Password
            </button>
        </div>
    </form>
</md-dialog>