<md-dialog ng-cloak ng-controller="ProductsController as products" id="product-details-modal">
    <div class="modal-dialog">
        <div class="modal-content" on-last-repeat>
            <md-button type="button" class="md-icon-button close" ng-click="cancel()">
                <md-icon md-svg-src="images/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
            <div class="col-lg-5 col-md-5 col-sm-5  col-xs-12">
                <!-- product Image -->
                <div class="main-image  col-lg-12 no-padding style3">
                    <a class="product-largeimg-link" href="product-details.html">
                        <img ng-src="{{ products.getProductImage(product, 'large') }}"
                             class="img-responsive product-largeimg" alt="{{ product.name }}">
                    </a>
                </div>
                <!--/.main-image-->

                <div class="modal-product-thumb">
                    <a class="thumbLink" ng-repeat="image in products.getImages(product)">
                        <img data-large="{{ products.getImageSize(image, 'original') }}" alt="img" class="img-responsive"
                             ng-src="{{ products.getImageSize(image, 'thumbnail') }}"/>
                    </a>
                </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 modal-details no-padding">
                <div class="modal-details-inner">
                    <h1 class="product-title">{{ product.name }}</h1>

                    <h3 class="product-code">Product Code : {{ product.sku }}</h3>

                    <div class="product-price">
                        <span class="price-sales"> </span>
                        <span class="price-standard" ng-show="products.getOffer(product)">{{ products.getOffer(product) }}% OFF</span>
                    </div>
                    <div class="details-description">
                        <p>{{ product.description }}</p>
                    </div>
                    <div class="color-details"><span class="selected-color"><strong>COLOR</strong></span>
                        <ul class="swatches Color">
                            <li class="selected"><a style="background-color:#f1f40e"> </a></li>
                            <li><a style="background-color:#adadad"> </a></li>
                            <li><a style="background-color:#4EC67F"> </a></li>
                        </ul>
                    </div>
                    <div class="productFilter productFilterLook2">
                        <div class="filterBox">
                            <select>
                                <option value="strawberries" selected>Quantity</option>
                                <option value="mango">1</option>
                                <option value="bananas">2</option>
                                <option value="watermelon">3</option>
                                <option value="grapes">4</option>
                                <option value="oranges">5</option>
                                <option value="pineapple">6</option>
                                <option value="peaches">7</option>
                                <option value="cherries">8</option>
                            </select>
                        </div>
                        <div class="filterBox">
                            <select>
                                <option value="strawberries" selected>Size</option>
                                <option value="mango">XL</option>
                                <option value="bananas">XXL</option>
                                <option value="watermelon">M</option>
                                <option value="apples">L</option>
                                <option value="apples">S</option>
                            </select>
                        </div>
                    </div>
                    <div class="cart-actions">
                        <div class="addto">
                            <button ng-click="products.addToCart(product)" ng-disabled="products.isLoading(product)"
                                    class="button btn-cart cart first" title="Add to Cart" type="button">
                                <md-progress-linear ng-show="products.isLoading(product)"
                                                    md-mode="indeterminate"></md-progress-linear>
                                Add to Cart
                            </button>
                            <a class="link-wishlist wishlist" ng-click="products.addToWishlist(product)"
                               ng-class="products.isWishlistLoading(product)?'loading':''">Add to Wishlist</a>
                        </div>
                    </div>
                    <div class="product-share clearfix">
                        <p> SHARE </p>

                        <div class="socialIcon">
                            <a href="#"> <i class="fa fa-facebook"></i></a>
                            <a href="#"> <i class="fa fa-twitter"></i></a>
                            <a href="#"> <i class="fa fa-google-plus"></i></a>
                            <a href="#"> <i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</md-dialog>