#ptr {
  position: absolute;
  left: 0;
  width: 100%;
  color: #000;
  z-index: 10;
  text-align: center;
  height: 50px;

  .genericon {
    opacity: .6;
    font-size: 34px;
    width: auto;
    height: auto;
    transition: all .25s ease;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-top: 5px;
  }

  .loading {
    display: inline-block;
    text-align: center;
    opacity: .4;
    margin: 12px 0 0 5px;
    display: none;
    span {
      display: inline-block;
      vertical-align: middle;
      width: 10px;
      height: 10px;
      margin-right: 3px;
      -webkit-transform: scale(0.3);
      transform: scale(0.3);
      border-radius: 50%;
      -webkit-animation: ptr-loading 0.4s infinite alternate;
      animation: ptr-loading 0.4s infinite alternate;
    }
  }
}

.ptr-loading #ptr .loading {
  display: block;
}

.ptr-refresh #ptr .genericon {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.ptr-loading #ptr .genericon,
.ptr-reset #ptr .genericon {
  display: none;
}

#l1 {
  -webkit-animation-delay: 0;
  animation-delay: 0;
}

#l2 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

#l3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

@-webkit-keyframes ptr-loading {
  0% {
    -webkit-transform: translateY(0) scale(0.3);
    transform: translateY(0) scale(0.3);
    opacity: 0;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    background-color: #171717;
    opacity: 1;
  }
}

@keyframes ptr-loading {
  0% {
    -webkit-transform: translateY(0) scale(0.3);
    transform: translateY(0) scale(0.3);
    opacity: 0;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    background-color: #171717;
    opacity: 1;
  }
}

.draggable-content {
  min-height: 100%;
  z-index: 20;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  background-color: #eee;
}

.ptr-loading .draggable-content, .ptr-reset .draggable-content,
.ptr-loading #ptr, .ptr-reset #ptr {
  transition: all .25s ease;
}

.ptr-reset .draggable-content {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.ptr-loading .draggable-content {
  -webkit-transform: translate3d(0, 50px, 0);
  transform: translate3d(0, 50px, 0);
}