ion-view {
  ion-content {
    ion-item.item-avatar > img,
    ion-item > a > img {
      max-height: 70px !important;
      max-width: 70px !important;
      top: 0;
    }
    ion-item.ng-enter {
      animation: lightSpeedIn 2s;
    }
  }
  a.row:hover {
    text-decoration: none;
  }
}

.view.ng-enter {
  animation: fadeIn 2s;
  position: absolute;
  width: 100%;
}

.view.ng-leave {
  position: absolute;
  width: 100%;
  animation: fadeOut 1s;
}

.alert {
  position: fixed;
  bottom: 0;
  width: 92%;
  z-index: 1;
  left: 4%;
  right: 4%;
}

.alert.ng-hide-add {
  animation: fadeOutDown 1s;
}

.alert.ng-hide-remove {
  animation: fadeInUp 1s;
}

.transparent {
  background: transparent !important;
}

.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}

.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}

.modal {
  background-color: transparent;
}