<ion-view view-title="Coupons" id="coupons">
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="coupon in coupons.getCoupons()" ng-click="coupons.showCoupon(coupon)"
                      class="item item-avatar waves-effect waves-button waves-dark in">
                <img img-cache ic-src="{{ coupons.getImageUrl(coupon.image_url) }}">

                <h2>{{ coupon.name }}</h2>

                <h3>{{ coupon.code }}</h3>

                <div class="text-right small">{{ coupon.effective_from.date | limitTo:10 }} : {{
                    coupon.effective_to.date | limitTo:10 }}
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>