<ion-view view-title="Home" id="home" hide-back-button="true">
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="coupon in home.getCoupons()" ng-click="home.showCoupon(coupon)"
                      class="item item-avatar waves-effect waves-button waves-dark in">
                <img img-cache ic-src="{{ home.getImageUrl(coupon.image_url) }}">

                <h2>{{ coupon.name }}</h2>

                <h3>{{ coupon.code }}</h3>

                <div class="text-right small">{{ coupon.effective_from.date | limitTo:10 }} : {{
                    coupon.effective_to.date | limitTo:10 }}
                </div>
            </ion-item>


            <ion-item ng-repeat="product in home.getHottestProducts()" href="#/app/home/product/{{ product.id }}"
                      class="item item-avatar waves-effect waves-button waves-dark in">
                <img img-cache ic-src="{{ home.getImageUrl(product.image) }}">

                <h2>{{ product.name }}</h2>

                <h3>{{ product.short_description }}</h3>

                <div class="text-right" ng-click="home.openFacebook($event, product)">
                    <i class="icon ion-chatbubbles positive"></i> {{ home.getFacebookCommentsCount(product) }}
                    <i class="icon ion-heart positive" ng-click="home.addFacebookLike($event, product)"
                       ng-class="{'active' : home.hasUserLiked(product)}"></i> {{ home.getFacebookLikesCount(product) }}
                    <i class="icon ion-email positive" ng-click="home.addFacebookLike($event, product)"
                       ng-class="{'active' : home.hasUserLiked(product)}"></i> {{ home.getFacebookSharesCount(product)
                    }}
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>