<ion-view view-title="Login" align-title="left" hide-back-button="true">
    <ion-content>
        <form class="form-signin" ng-controller="LoginController as login" ng-submit="login.login()">
            <div class="hero no-header flat">
                <div class="content">
                    <div class="app-icon"></div>
                    <h1>Login</h1>
                </div>
            </div>
            <div class="list">
                <ion-md-input placeholder="Email" ng-model="login.user.email" highlight-color="balanced"
                              type="text"></ion-md-input>
                <ion-md-input placeholder="Password" ng-model="login.user.password" highlight-color="energized"
                              type="password"></ion-md-input>
                <div class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox" name="remember_me" ng-model="login.user.remember_me" value="remember-me">

                    </label>
                    Remember me
                </div>
            </div>
            <div class="padding">
                <button class="button button-full button-assertive ink">Login</button>
            </div>
        </form>

        <div class="button-bar social-login">
            <button class="button button-small button-border icon-left ion-social-google button-assertive-900">
                Google+
            </button>
            <button class="button button-small button-border icon-left ion-social-twitter button-calm-900">Twitter
            </button>
            <button class="button button-small button-border icon-left ion-social-facebook button-positive-900">
                Facebook
            </button>
        </div>
    </ion-content>
</ion-view>
