<ion-view view-title="Product" id="product">
    <ion-content>
        <div class="list card">
            <div class="item">
                <h2>{{ controller.getProduct().name }}</h2>

                <p>{{ controller.getProduct().short_description }}</p>
            </div>

            <div class="item item-body">
                <img id="main-image" class="img-rounded" img-cache
                     ic-src="{{ controller.getImageUrl(controller.getProduct().image, 'main-image') }}">

                <div class="row">
                    <div class="col-xs-3 col-md-3" ng-repeat="image in controller.getProduct().images">
                        <div class="thumbnail">
                            <img img-cache ic-src="{{ controller.getImageUrl(image) }}">
                        </div>
                    </div>
                </div>
                <p class="description">{{ controller.getProduct().description }}</p>

                <div class="list">
                    <div class="item item-thumbnail-left"
                         ng-repeat="collection_product in controller.getProduct().collection">
                        <img img-cache ic-src="{{ controller.getImageUrl(collection_product.image) }}">

                        <h2>{{ collection_product.name }}</h2>

                        <h3>{{ collection_product.short_description }}</h3>

                        <p class="small">{{ collection_product.description }}</p>

                        <div class="price">{{ collection_product.price | currency }}</div>
                        <div>
                            <div class="button-bar">
                                <a class="button" ng-repeat="size in collection_product.sizes"
                                   ng-click="controller.UpdateImage(collection_product, size.id, collection_product.selected_color)">{{
                                    size.label }}</a>
                            </div>
                            <div class="button-bar">
                                <a class="button" ng-repeat="color in collection_product.colors"
                                   ng-click="controller.UpdateImage(collection_product, collection_product.selected_size, color.id)">{{
                                    color.label }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-thumbsup"></i>
                    Like
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-chatbox"></i>
                    Comment
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i>
                    Share
                </a>
            </div>

        </div>
    </ion-content>
</ion-view>