<ion-view view-title="Products" id="products">
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="product in products.getProducts()" href="#/app/products/product/{{ product.id }}"
                      class="item item-avatar waves-effect waves-button waves-dark in">
                <img img-cache ic-src="{{ products.getImageUrl(product.image) }}">

                <h2>{{ product.name }}</h2>

                <h3>{{ product.short_description }}</h3>

                <div class="text-right" ng-click="products.openFacebook($event, product)">
                    <i class="icon ion-chatbubbles positive"></i> {{ products.getFacebookCommentsCount(product) }}
                    <i class="icon ion-heart positive" ng-click="products.addFacebookLike($event, product)"
                       ng-class="{'active' : products.hasUserLiked(product)}"></i> {{ products.getFacebookLikesCount(product) }}
                    <i class="icon ion-email positive" ng-click="products.addFacebookLike($event, product)"
                       ng-class="{'active' : products.hasUserLiked(product)}"></i> {{ products.getFacebookSharesCount(product)
                    }}
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>