<ion-view view-title="Promotions" id="promotions">
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="promotion in promotions.getPromotions()" ng-click="promotions.showPromotion(promotion)"
                      class="item item-avatar waves-effect waves-button waves-dark in">
                <img img-cache ic-src="{{ promotions.getImageUrl(promotion.image_url) }}">

                <h2>{{ promotion.title }}</h2>
                <p class="validity small">{{ promotion.effective_from | limitTo:10 }} : {{
                    promotion.effective_to | limitTo:10 }}
                </p>
                <div class="text-right" ng-click="promotions.openFacebook($event, promotion)">
                    <i class="icon ion-chatbubbles positive"></i> {{ promotions.getFacebookCommentsCount(promotion) }}
                    <i class="icon ion-heart positive" ng-click="promotions.addFacebookLike($event, promotion)"
                       ng-class="{'active' : promotions.hasUserLiked(promotion)}"></i> {{ promotions.getFacebookLikesCount(promotion) }}
                    <i class="icon ion-email positive" ng-click="promotions.addFacebookLike($event, promotion)"
                       ng-class="{'active' : promotions.hasUserLiked(promotion)}"></i> {{ promotions.getFacebookSharesCount(promotion)
                    }}
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>