<div class="container main-container grid">
<div class="row featuredPostContainer globalPadding style2">
<h3 class="section-title style2 text-center"><span>New arrivals</span></h3>

<div id="productslider" class="owl-carousel owl-theme">
<div class="item">
    <div class="product">
        <div class="actions-secondary" data-role="add-to-links">
            <a href="#" data-toggle="tooltip" data-original-title="Add to Wishlist"
               data-placement="left"
               data-post='{"action":"http:\/\/fedora-server\/grocery_bag\/magento2\/pub\/wishlist\/index\/add\/","data":{"product":"1","uenc":"aHR0cDovL2ZlZG9yYS1zZXJ2ZXIvZ3JvY2VyeV9iYWcvbWFnZW50bzIvcHViLw,,"}}' class="action towishlist add-fav tooltipHere" data-action="add-to-wishlist" title="Wish List">
                <i class="glyphicon glyphicon-heart"/>
            </a>
            <a href="#" class="action tocompare add-fav tooltipHere"
               data-placement="left"
               data-toggle="tooltip" data-original-title="Add to Wishlist"
               data-post='{"action":"http:\/\/fedora-server\/grocery_bag\/magento2\/pub\/catalog\/product_compare\/add\/","data":{"product":"1","uenc":"aHR0cDovL2ZlZG9yYS1zZXJ2ZXIvZ3JvY2VyeV9iYWcvbWFnZW50bzIvcHViLw,,"}}'
               title="Compare">
                <i class="glyphicon glyphicon-heart"/>
            </a>
        </div>
        <div class="image">
            <div class="quickview">
                <a title="Quick View" class="btn btn-xs  btn-quickview"
                   data-target="#product-details-modal" data-toggle="modal"> Quick View </a>
            </div>
            <a href="http://fedora-server/grocery_bag/magento2/pub/enfamil-a-stage-2-milk-powder-tin-800g.html">
                <span class="product-image-container"
                      style="width:240px;">
    <span class="product-image-wrapper"
          style="padding-bottom: 125%;">
        <img class="product-image-photo"
             src="http://fedora-server/grocery_bag/magento2/pub/static/frontend/Onic/groceries/en_US/Magento_Catalog/images/product/placeholder/small_image.jpg"
             width="135"
             height="135"
             alt="Enfamil a+ stage 2 milk powder tin 800g"/></span>
</span>
            </a>

            <div class="promotion"><span class="new-product"> NEW</span>
                <span class="discount">15% OFF</span>
            </div>
        </div>
        <div class="description">
            <h4>
                <a href="http://fedora-server/grocery_bag/magento2/pub/enfamil-a-stage-2-milk-powder-tin-800g.html">Enfamil a+ stage 2 milk powder tin 800g</a>
            </h4>

            <p></p>
            <span class="size">XL / XXL / S </span>
        </div>
        <div class="price">
                                <span>
                                    <div class="price-box price-final_price" data-role="priceBox" data-product-id="1">
<span class="price-container price-final_price tax weee">
        <span id="old-price-1-widget-product-grid" data-price-amount="2750" data-price-type="finalPrice" class="price-wrapper ">
            <span class="price">LKR2,750.00</span>
        </span>
    </span>

                                    </div>
                                </span>
        </div>
        <div class="action-control"> <span class="add2cart">
                                                                                                                                                                    <button class="action tocart primary btn btn-primary"
                                                                                                                                                                            data-post='{"action":"http:\/\/fedora-server\/grocery_bag\/magento2\/pub\/checkout\/cart\/add\/uenc\/aHR0cDovL2ZlZG9yYS1zZXJ2ZXIvZ3JvY2VyeV9iYWcvbWFnZW50bzIvcHViLw,,\/product\/1\/","data":{"product":"1","uenc":"aHR0cDovL2ZlZG9yYS1zZXJ2ZXIvZ3JvY2VyeV9iYWcvbWFnZW50bzIvcHViLw,,"}}'
                                                                                                                                                                            type="button" title="Add to Cart">
                                                                                                                                                                        <i class="glyphicon glyphicon-shopping-cart"></i>Add to Cart
                                                                                                                                                                    </button></span>
        </div>
    </div>
</div>
<div class="item">
    <div class="product">
        <div class="actions-secondary" data-role="add-to-links">
            <a href="#" data-toggle="tooltip" data-original-title="Add to Wishlist"
               data-placement="left"
               data-post='{"action":"http:\/\/fedora-server\/grocery_bag\/magento2\/pub\/wishlist\/index\/add\/","data":{"product":"2","uenc":"aHR0cDovL2ZlZG9yYS1zZXJ2ZXIvZ3JvY2VyeV9iYWcvbWFnZW50bzIvcHViLw,,"}}' class="action towishlist add-fav tooltipHere" data-action="add-to-wishlist" title="Wish List">
                <i class="glyphicon glyphicon-heart"/>
            </a>
            <a href="#" class="action tocompare add-fav tooltipHere"
               data-placement="left"
               data-toggle="tooltip" data-original-title="Add to Wishlist"
               data-post='{"action":"http:\/\/fedora-server\/grocery_bag\/magento2\/pub\/catalog\/product_compare\/add\/","data":{"product":"2","uenc":"aHR0cDovL2ZlZG9yYS1zZXJ2ZXIvZ3JvY2VyeV9iYWcvbWFnZW50bzIvcHViLw,,"}}'
               title="Compare">
                <i class="glyphicon glyphicon-heart"/>
            </a>
        </div>
        <div class="image">
            <div class="quickview">
                <a title="Quick View" class="btn btn-xs  btn-quickview"
                   data-target="#product-details-modal" data-toggle="modal"> Quick View </a>
            </div>
            <a href="http://fedora-server/grocery_bag/magento2/pub/enfagrow-a-growing-milk-vani-800g.html">

<span class="product-image-container"
      style="width:240px;">
    <span class="product-image-wrapper"
          style="padding-bottom: 125%;">
        <img class="product-image-photo"
             src="http://fedora-server/grocery_bag/magento2/pub/static/frontend/Onic/groceries/en_US/Magento_Catalog/images/product/placeholder/small_image.jpg"
             width="135"
             height="135"
             alt="Enfagrow a+ growing milk vani 800g"/></span>
</span>
            </a>

            <div class="promotion"><span class="new-product"> NEW</span>
                <span class="discount">15% OFF</span>
            </div>
        </div>
        <div class="description">
            <h4>
                <a href="http://fedora-server/grocery_bag/magento2/pub/enfagrow-a-growing-milk-vani-800g.html">Enfagrow a+ growing milk vani 800g</a>
            </h4>

            <p></p>
            <span class="size">XL / XXL / S </span>
        </div>
        <div class="price">
                                <span><div class="price-box price-final_price" data-role="priceBox" data-product-id="2">


<span class="price-container price-final_price tax weee"
        >
        <span id="old-price-2-widget-product-grid" data-price-amount="2700"
              data-price-type="finalPrice"
              class="price-wrapper "
                >
        <span class="price">LKR2,700.00</span>    </span>
        </span>

                                </div></span>
        </div>
        <div class="action-control">
                                                                    <span class="add2cart">
                                                                                                                                                                    <button class="action tocart primary btn btn-primary"
                                                                                                                                                                            data-post='{"action":"http:\/\/fedora-server\/grocery_bag\/magento2\/pub\/checkout\/cart\/add\/uenc\/aHR0cDovL2ZlZG9yYS1zZXJ2ZXIvZ3JvY2VyeV9iYWcvbWFnZW50bzIvcHViLw,,\/product\/2\/","data":{"product":"2","uenc":"aHR0cDovL2ZlZG9yYS1zZXJ2ZXIvZ3JvY2VyeV9iYWcvbWFnZW50bzIvcHViLw,,"}}'
                                                                                                                                                                            type="button" title="Add to Cart">
                                                                                                                                                                        <i class="glyphicon glyphicon-shopping-cart"></i>Add to Cart
                                                                                                                                                                    </button>
                                                                                                                </span>
        </div>
    </div>
</div>
<div class="item">
    <div class="product">
        <div class="actions-secondary" data-role="add-to-links">
            <a href="#" data-toggle="tooltip" data-original-title="Add to Wishlist"
               data-placement="left"
               data-post='{"action":"http:\/\/fedora-server\/grocery_bag\/magento2\/pub\/wishlist\/index\/add\/","data":{"product":"3","uenc":"aHR0cDovL2ZlZG9yYS1zZXJ2ZXIvZ3JvY2VyeV9iYWcvbWFnZW50bzIvcHViLw,,"}}' class="action towishlist add-fav tooltipHere" data-action="add-to-wishlist" title="Wish List">
                <i class="glyphicon glyphicon-heart"/>
            </a>
            <a href="#" class="action tocompare add-fav tooltipHere"
               data-placement="left"
               data-toggle="tooltip" data-original-title="Add to Wishlist"
               data-post='{"action":"http:\/\/fedora-server\/grocery_bag\/magento2\/pub\/catalog\/product_compare\/add\/","data":{"product":"3","uenc":"aHR0cDovL2ZlZG9yYS1zZXJ2ZXIvZ3JvY2VyeV9iYWcvbWFnZW50bzIvcHViLw,,"}}'
               title="Compare">
                <i class="glyphicon glyphicon-heart"/>
            </a>
        </div>
        <div class="image">
            <div class="quickview">
                <a title="Quick View" class="btn btn-xs  btn-quickview"
                   data-target="#product-details-modal" data-toggle="modal"> Quick View </a>
            </div>
            <a href="http://fedora-server/grocery_bag/magento2/pub/enfagrow-a-4-tin-800g.html">

<span class="product-image-container"
      style="width:240px;">
    <span class="product-image-wrapper"
          style="padding-bottom: 125%;">
        <img class="product-image-photo"
             src="http://fedora-server/grocery_bag/magento2/pub/static/frontend/Onic/groceries/en_US/Magento_Catalog/images/product/placeholder/small_image.jpg"
             width="135"
             height="135"
             alt="Enfagrow a+4 tin 800g"/></span>
</span>
            </a>

            <div class="promotion"><span class="new-product"> NEW</span>
                <span class="discount">15% OFF</span>
            </div>
        </div>
        <div class="description">
            <h4>
                <a href="http://fedora-server/grocery_bag/magento2/pub/enfagrow-a-4-tin-800g.html">Enfagrow a+4 tin 800g</a>
            </h4>

            <p></p>
            <span class="size">XL / XXL / S </span>
        </div>
        <div class="price">
                                <span><div class="price-box price-final_price" data-role="priceBox" data-product-id="3">


<span class="price-container price-final_price tax weee"
        >
        <span id="old-price-3-widget-product-grid" data-price-amount="2500"
              data-price-type="finalPrice"
              class="price-wrapper "
                >
        <span class="price">LKR2,500.00</span>    </span>
        </span>

                                </div></span>
        </div>
        <div class="action-control">
                                                                    <span class="add2cart">
                                                                                                                                                                    <button class="action tocart primary btn btn-primary"
                                                                                                                                                                            data-post='{"action":"http:\/\/fedora-server\/grocery_bag\/magento2\/pub\/checkout\/cart\/add\/uenc\/aHR0cDovL2ZlZG9yYS1zZXJ2ZXIvZ3JvY2VyeV9iYWcvbWFnZW50bzIvcHViLw,,\/product\/3\/","data":{"product":"3","uenc":"aHR0cDovL2ZlZG9yYS1zZXJ2ZXIvZ3JvY2VyeV9iYWcvbWFnZW50bzIvcHViLw,,"}}'
                                                                                                                                                                            type="button" title="Add to Cart">
                                                                                                                                                                        <i class="glyphicon glyphicon-shopping-cart"></i>Add to Cart
                                                                                                                                                                    </button>
                                                                                                                </span>
        </div>
    </div>
</div>
<div class="item">
    <div class="product">
        <div class="actions-secondary" data-role="add-to-links">
            <a href="#" data-toggle="tooltip" data-original-title="Add to Wishlist"
               data-placement="left"
               data-post='{"action":"http:\/\/fedora-server\/grocery_bag\/magento2\/pub\/wishlist\/index\/add\/","data":{"product":"4","uenc":"aHR0cDovL2ZlZG9yYS1zZXJ2ZXIvZ3JvY2VyeV9iYWcvbWFnZW50bzIvcHViLw,,"}}' class="action towishlist add-fav tooltipHere" data-action="add-to-wishlist" title="Wish List">
                <i class="glyphicon glyphicon-heart"/>
            </a>
            <a href="#" class="action tocompare add-fav tooltipHere"
               data-placement="left"
               data-toggle="tooltip" data-original-title="Add to Wishlist"
               data-post='{"action":"http:\/\/fedora-server\/grocery_bag\/magento2\/pub\/catalog\/product_compare\/add\/","data":{"product":"4","uenc":"aHR0cDovL2ZlZG9yYS1zZXJ2ZXIvZ3JvY2VyeV9iYWcvbWFnZW50bzIvcHViLw,,"}}'
               title="Compare">
                <i class="glyphicon glyphicon-heart"/>
            </a>
        </div>
        <div class="image">
            <div class="quickview">
                <a title="Quick View" class="btn btn-xs  btn-quickview"
                   data-target="#product-details-modal" data-toggle="modal"> Quick View </a>
            </div>
            <a href="http://fedora-server/grocery_bag/magento2/pub/enfamil-a-2-milk-powder-400g.html">

<span class="product-image-container"
      style="width:240px;">
    <span class="product-image-wrapper"
          style="padding-bottom: 125%;">
        <img class="product-image-photo"
             src="http://fedora-server/grocery_bag/magento2/pub/static/frontend/Onic/groceries/en_US/Magento_Catalog/images/product/placeholder/small_image.jpg"
             width="135"
             height="135"
             alt="Enfamil a+2 milk powder 400g"/></span>
</span>
            </a>

            <div class="promotion"><span class="new-product"> NEW</span>
                <span class="discount">15% OFF</span>
            </div>
        </div>
        <div class="description">
            <h4>
                <a href="http://fedora-server/grocery_bag/magento2/pub/enfamil-a-2-milk-powder-400g.html">Enfamil a+2 milk powder 400g</a>
            </h4>

            <p></p>
            <span class="size">XL / XXL / S </span>
        </div>
        <div class="price">
                                <span><div class="price-box price-final_price" data-role="priceBox" data-product-id="4">


<span class="price-container price-final_price tax weee"
        >
        <span id="old-price-4-widget-product-grid" data-price-amount="1480"
              data-price-type="finalPrice"
              class="price-wrapper "
                >
        <span class="price">LKR1,480.00</span>    </span>
        </span>

                                </div></span>
        </div>
        <div class="action-control">
                                                                    <span class="add2cart">
                                                                                                                                                                    <button class="action tocart primary btn btn-primary"
                                                                                                                                                                            data-post='{"action":"http:\/\/fedora-server\/grocery_bag\/magento2\/pub\/checkout\/cart\/add\/uenc\/aHR0cDovL2ZlZG9yYS1zZXJ2ZXIvZ3JvY2VyeV9iYWcvbWFnZW50bzIvcHViLw,,\/product\/4\/","data":{"product":"4","uenc":"aHR0cDovL2ZlZG9yYS1zZXJ2ZXIvZ3JvY2VyeV9iYWcvbWFnZW50bzIvcHViLw,,"}}'
                                                                                                                                                                            type="button" title="Add to Cart">
                                                                                                                                                                        <i class="glyphicon glyphicon-shopping-cart"></i>Add to Cart
                                                                                                                                                                    </button>
                                                                                                                </span>
        </div>
    </div>
</div>
<div class="item">
    <div class="product">
        <div class="actions-secondary" data-role="add-to-links">
            <a href="#" data-toggle="tooltip" data-original-title="Add to Wishlist"
               data-placement="left"
               data-post='{"action":"http:\/\/fedora-server\/grocery_bag\/magento2\/pub\/wishlist\/index\/add\/","data":{"product":"5","uenc":"aHR0cDovL2ZlZG9yYS1zZXJ2ZXIvZ3JvY2VyeV9iYWcvbWFnZW50bzIvcHViLw,,"}}' class="action towishlist add-fav tooltipHere" data-action="add-to-wishlist" title="Wish List">
                <i class="glyphicon glyphicon-heart"/>
            </a>
            <a href="#" class="action tocompare add-fav tooltipHere"
               data-placement="left"
               data-toggle="tooltip" data-original-title="Add to Wishlist"
               data-post='{"action":"http:\/\/fedora-server\/grocery_bag\/magento2\/pub\/catalog\/product_compare\/add\/","data":{"product":"5","uenc":"aHR0cDovL2ZlZG9yYS1zZXJ2ZXIvZ3JvY2VyeV9iYWcvbWFnZW50bzIvcHViLw,,"}}'
               title="Compare">
                <i class="glyphicon glyphicon-heart"/>
            </a>
        </div>
        <div class="image">
            <div class="quickview">
                <a title="Quick View" class="btn btn-xs  btn-quickview"
                   data-target="#product-details-modal" data-toggle="modal"> Quick View </a>
            </div>
            <a href="http://fedora-server/grocery_bag/magento2/pub/anchor-pediapro-2-5-year-child-1kg.html">

<span class="product-image-container"
      style="width:240px;">
    <span class="product-image-wrapper"
          style="padding-bottom: 125%;">
        <img class="product-image-photo"
             src="http://fedora-server/grocery_bag/magento2/pub/static/frontend/Onic/groceries/en_US/Magento_Catalog/images/product/placeholder/small_image.jpg"
             width="135"
             height="135"
             alt="Anchor pediapro 2-5 year child. 1kg"/></span>
</span>
            </a>

            <div class="promotion"><span class="new-product"> NEW</span>
                <span class="discount">15% OFF</span>
            </div>
        </div>
        <div class="description">
            <h4>
                <a href="http://fedora-server/grocery_bag/magento2/pub/anchor-pediapro-2-5-year-child-1kg.html">Anchor pediapro 2-5 year child. 1kg</a>
            </h4>

            <p></p>
            <span class="size">XL / XXL / S </span>
        </div>
        <div class="price">
                                <span><div class="price-box price-final_price" data-role="priceBox" data-product-id="5">


<span class="price-container price-final_price tax weee"
        >
        <span id="old-price-5-widget-product-grid" data-price-amount="1450"
              data-price-type="finalPrice"
              class="price-wrapper "
                >
        <span class="price">LKR1,450.00</span>    </span>
        </span>

                                </div></span>
        </div>
        <div class="action-control">
                                                                    <span class="add2cart">
                                                                                                                                                                    <button class="action tocart primary btn btn-primary"
                                                                                                                                                                            data-post='{"action":"http:\/\/fedora-server\/grocery_bag\/magento2\/pub\/checkout\/cart\/add\/uenc\/aHR0cDovL2ZlZG9yYS1zZXJ2ZXIvZ3JvY2VyeV9iYWcvbWFnZW50bzIvcHViLw,,\/product\/5\/","data":{"product":"5","uenc":"aHR0cDovL2ZlZG9yYS1zZXJ2ZXIvZ3JvY2VyeV9iYWcvbWFnZW50bzIvcHViLw,,"}}'
                                                                                                                                                                            type="button" title="Add to Cart">
                                                                                                                                                                        <i class="glyphicon glyphicon-shopping-cart"></i>Add to Cart
                                                                                                                                                                    </button>
                                                                                                                </span>
        </div>
    </div>
</div>
<div class="item">
    <div class="product">
        <div class="actions-secondary" data-role="add-to-links">
            <a href="#" data-toggle="tooltip" data-original-title="Add to Wishlist"
               data-placement="left"
               data-post='{"action":"http:\/\/fedora-server\/grocery_bag\/magento2\/pub\/wishlist\/index\/add\/","data":{"product":"6","uenc":"aHR0cDovL2ZlZG9yYS1zZXJ2ZXIvZ3JvY2VyeV9iYWcvbWFnZW50bzIvcHViLw,,"}}' class="action towishlist add-fav tooltipHere" data-action="add-to-wishlist" title="Wish List">
                <i class="glyphicon glyphicon-heart"/>
            </a>
            <a href="#" class="action tocompare add-fav tooltipHere"
               data-placement="left"
               data-toggle="tooltip" data-original-title="Add to Wishlist"
               data-post='{"action":"http:\/\/fedora-server\/grocery_bag\/magento2\/pub\/catalog\/product_compare\/add\/","data":{"product":"6","uenc":"aHR0cDovL2ZlZG9yYS1zZXJ2ZXIvZ3JvY2VyeV9iYWcvbWFnZW50bzIvcHViLw,,"}}'
               title="Compare">
                <i class="glyphicon glyphicon-heart"/>
            </a>
        </div>
        <div class="image">
            <div class="quickview">
                <a title="Quick View" class="btn btn-xs  btn-quickview"
                   data-target="#product-details-modal" data-toggle="modal"> Quick View </a>
            </div>
            <a href="http://fedora-server/grocery_bag/magento2/pub/enfagrow-a-growing-milk-vani-400g.html">

<span class="product-image-container"
      style="width:240px;">
    <span class="product-image-wrapper"
          style="padding-bottom: 125%;">
        <img class="product-image-photo"
             src="http://fedora-server/grocery_bag/magento2/pub/static/frontend/Onic/groceries/en_US/Magento_Catalog/images/product/placeholder/small_image.jpg"
             width="135"
             height="135"
             alt="Enfagrow a+ growing milk vani 400g"/></span>
</span>
            </a>

            <div class="promotion"><span class="new-product"> NEW</span>
                <span class="discount">15% OFF</span>
            </div>
        </div>
        <div class="description">
            <h4>
                <a href="http://fedora-server/grocery_bag/magento2/pub/enfagrow-a-growing-milk-vani-400g.html">Enfagrow a+ growing milk vani 400g</a>
            </h4>

            <p></p>
            <span class="size">XL / XXL / S </span>
        </div>
        <div class="price">
                                <span><div class="price-box price-final_price" data-role="priceBox" data-product-id="6">


<span class="price-container price-final_price tax weee"
        >
        <span id="old-price-6-widget-product-grid" data-price-amount="1430"
              data-price-type="finalPrice"
              class="price-wrapper "
                >
        <span class="price">LKR1,430.00</span>    </span>
        </span>

                                </div></span>
        </div>
        <div class="action-control">
                                                                    <span class="add2cart">
                                                                                                                                                                    <button class="action tocart primary btn btn-primary"
                                                                                                                                                                            data-post='{"action":"http:\/\/fedora-server\/grocery_bag\/magento2\/pub\/checkout\/cart\/add\/uenc\/aHR0cDovL2ZlZG9yYS1zZXJ2ZXIvZ3JvY2VyeV9iYWcvbWFnZW50bzIvcHViLw,,\/product\/6\/","data":{"product":"6","uenc":"aHR0cDovL2ZlZG9yYS1zZXJ2ZXIvZ3JvY2VyeV9iYWcvbWFnZW50bzIvcHViLw,,"}}'
                                                                                                                                                                            type="button" title="Add to Cart">
                                                                                                                                                                        <i class="glyphicon glyphicon-shopping-cart"></i>Add to Cart
                                                                                                                                                                    </button>
                                                                                                                </span>
        </div>
    </div>
</div>
<div class="item">
    <div class="product">
        <div class="actions-secondary" data-role="add-to-links">
            <a href="#" data-toggle="tooltip" data-original-title="Add to Wishlist"
               data-placement="left"
               data-post='{"action":"http:\/\/fedora-server\/grocery_bag\/magento2\/pub\/wishlist\/index\/add\/","data":{"product":"7","uenc":"aHR0cDovL2ZlZG9yYS1zZXJ2ZXIvZ3JvY2VyeV9iYWcvbWFnZW50bzIvcHViLw,,"}}' class="action towishlist add-fav tooltipHere" data-action="add-to-wishlist" title="Wish List">
                <i class="glyphicon glyphicon-heart"/>
            </a>
            <a href="#" class="action tocompare add-fav tooltipHere"
               data-placement="left"
               data-toggle="tooltip" data-original-title="Add to Wishlist"
               data-post='{"action":"http:\/\/fedora-server\/grocery_bag\/magento2\/pub\/catalog\/product_compare\/add\/","data":{"product":"7","uenc":"aHR0cDovL2ZlZG9yYS1zZXJ2ZXIvZ3JvY2VyeV9iYWcvbWFnZW50bzIvcHViLw,,"}}'
               title="Compare">
                <i class="glyphicon glyphicon-heart"/>
            </a>
        </div>
        <div class="image">
            <div class="quickview">
                <a title="Quick View" class="btn btn-xs  btn-quickview"
                   data-target="#product-details-modal" data-toggle="modal"> Quick View </a>
            </div>
            <a href="http://fedora-server/grocery_bag/magento2/pub/nan-stage-2-h-a-milk-powder-400g.html">

<span class="product-image-container"
      style="width:240px;">
    <span class="product-image-wrapper"
          style="padding-bottom: 125%;">
        <img class="product-image-photo"
             src="http://fedora-server/grocery_bag/magento2/pub/static/frontend/Onic/groceries/en_US/Magento_Catalog/images/product/placeholder/small_image.jpg"
             width="135"
             height="135"
             alt="Nan stage 2 h.a. milk powder 400g"/></span>
</span>
            </a>

            <div class="promotion"><span class="new-product"> NEW</span>
                <span class="discount">15% OFF</span>
            </div>
        </div>
        <div class="description">
            <h4>
                <a href="http://fedora-server/grocery_bag/magento2/pub/nan-stage-2-h-a-milk-powder-400g.html">Nan stage 2 h.a. milk powder 400g</a>
            </h4>

            <p></p>
            <span class="size">XL / XXL / S </span>
        </div>
        <div class="price">
                                <span><div class="price-box price-final_price" data-role="priceBox" data-product-id="7">


<span class="price-container price-final_price tax weee"
        >
        <span id="old-price-7-widget-product-grid" data-price-amount="1400"
              data-price-type="finalPrice"
              class="price-wrapper "
                >
        <span class="price">LKR1,400.00</span>    </span>
        </span>

                                </div></span>
        </div>
        <div class="action-control">
                                                                    <span class="add2cart">
                                                                                                                                                                    <button class="action tocart primary btn btn-primary"
                                                                                                                                                                            data-post='{"action":"http:\/\/fedora-server\/grocery_bag\/magento2\/pub\/checkout\/cart\/add\/uenc\/aHR0cDovL2ZlZG9yYS1zZXJ2ZXIvZ3JvY2VyeV9iYWcvbWFnZW50bzIvcHViLw,,\/product\/7\/","data":{"product":"7","uenc":"aHR0cDovL2ZlZG9yYS1zZXJ2ZXIvZ3JvY2VyeV9iYWcvbWFnZW50bzIvcHViLw,,"}}'
                                                                                                                                                                            type="button" title="Add to Cart">
                                                                                                                                                                        <i class="glyphicon glyphicon-shopping-cart"></i>Add to Cart
                                                                                                                                                                    </button>
                                                                                                                </span>
        </div>
    </div>
</div>
<div class="item">
    <div class="product">
        <div class="actions-secondary" data-role="add-to-links">
            <a href="#" data-toggle="tooltip" data-original-title="Add to Wishlist"
               data-placement="left"
               data-post='{"action":"http:\/\/fedora-server\/grocery_bag\/magento2\/pub\/wishlist\/index\/add\/","data":{"product":"8","uenc":"aHR0cDovL2ZlZG9yYS1zZXJ2ZXIvZ3JvY2VyeV9iYWcvbWFnZW50bzIvcHViLw,,"}}' class="action towishlist add-fav tooltipHere" data-action="add-to-wishlist" title="Wish List">
                <i class="glyphicon glyphicon-heart"/>
            </a>
            <a href="#" class="action tocompare add-fav tooltipHere"
               data-placement="left"
               data-toggle="tooltip" data-original-title="Add to Wishlist"
               data-post='{"action":"http:\/\/fedora-server\/grocery_bag\/magento2\/pub\/catalog\/product_compare\/add\/","data":{"product":"8","uenc":"aHR0cDovL2ZlZG9yYS1zZXJ2ZXIvZ3JvY2VyeV9iYWcvbWFnZW50bzIvcHViLw,,"}}'
               title="Compare">
                <i class="glyphicon glyphicon-heart"/>
            </a>
        </div>
        <div class="image">
            <div class="quickview">
                <a title="Quick View" class="btn btn-xs  btn-quickview"
                   data-target="#product-details-modal" data-toggle="modal"> Quick View </a>
            </div>
            <a href="http://fedora-server/grocery_bag/magento2/pub/enfagrow-a-4-tin-400g.html">

<span class="product-image-container"
      style="width:240px;">
    <span class="product-image-wrapper"
          style="padding-bottom: 125%;">
        <img class="product-image-photo"
             src="http://fedora-server/grocery_bag/magento2/pub/static/frontend/Onic/groceries/en_US/Magento_Catalog/images/product/placeholder/small_image.jpg"
             width="135"
             height="135"
             alt="Enfagrow a+4 tin 400g"/></span>
</span>
            </a>

            <div class="promotion"><span class="new-product"> NEW</span>
                <span class="discount">15% OFF</span>
            </div>
        </div>
        <div class="description">
            <h4>
                <a href="http://fedora-server/grocery_bag/magento2/pub/enfagrow-a-4-tin-400g.html">Enfagrow a+4 tin 400g</a>
            </h4>

            <p></p>
            <span class="size">XL / XXL / S </span>
        </div>
        <div class="price">
                                <span><div class="price-box price-final_price" data-role="priceBox" data-product-id="8">


<span class="price-container price-final_price tax weee"
        >
        <span id="old-price-8-widget-product-grid" data-price-amount="1330"
              data-price-type="finalPrice"
              class="price-wrapper "
                >
        <span class="price">LKR1,330.00</span>    </span>
        </span>

                                </div></span>
        </div>
        <div class="action-control">
                                                                    <span class="add2cart">
                                                                                                                                                                    <button class="action tocart primary btn btn-primary"
                                                                                                                                                                            data-post='{"action":"http:\/\/fedora-server\/grocery_bag\/magento2\/pub\/checkout\/cart\/add\/uenc\/aHR0cDovL2ZlZG9yYS1zZXJ2ZXIvZ3JvY2VyeV9iYWcvbWFnZW50bzIvcHViLw,,\/product\/8\/","data":{"product":"8","uenc":"aHR0cDovL2ZlZG9yYS1zZXJ2ZXIvZ3JvY2VyeV9iYWcvbWFnZW50bzIvcHViLw,,"}}'
                                                                                                                                                                            type="button" title="Add to Cart">
                                                                                                                                                                        <i class="glyphicon glyphicon-shopping-cart"></i>Add to Cart
                                                                                                                                                                    </button>
                                                                                                                </span>
        </div>
    </div>
</div>
<div class="item">
    <div class="product">
        <div class="actions-secondary" data-role="add-to-links">
            <a href="#" data-toggle="tooltip" data-original-title="Add to Wishlist"
               data-placement="left"
               data-post='{"action":"http:\/\/fedora-server\/grocery_bag\/magento2\/pub\/wishlist\/index\/add\/","data":{"product":"9","uenc":"aHR0cDovL2ZlZG9yYS1zZXJ2ZXIvZ3JvY2VyeV9iYWcvbWFnZW50bzIvcHViLw,,"}}' class="action towishlist add-fav tooltipHere" data-action="add-to-wishlist" title="Wish List">
                <i class="glyphicon glyphicon-heart"/>
            </a>
            <a href="#" class="action tocompare add-fav tooltipHere"
               data-placement="left"
               data-toggle="tooltip" data-original-title="Add to Wishlist"
               data-post='{"action":"http:\/\/fedora-server\/grocery_bag\/magento2\/pub\/catalog\/product_compare\/add\/","data":{"product":"9","uenc":"aHR0cDovL2ZlZG9yYS1zZXJ2ZXIvZ3JvY2VyeV9iYWcvbWFnZW50bzIvcHViLw,,"}}'
               title="Compare">
                <i class="glyphicon glyphicon-heart"/>
            </a>
        </div>
        <div class="image">
            <div class="quickview">
                <a title="Quick View" class="btn btn-xs  btn-quickview"
                   data-target="#product-details-modal" data-toggle="modal"> Quick View </a>
            </div>
            <a href="http://fedora-server/grocery_bag/magento2/pub/sma-gold-3-milk-powder-tin-400g.html">

<span class="product-image-container"
      style="width:240px;">
    <span class="product-image-wrapper"
          style="padding-bottom: 125%;">
        <img class="product-image-photo"
             src="http://fedora-server/grocery_bag/magento2/pub/static/frontend/Onic/groceries/en_US/Magento_Catalog/images/product/placeholder/small_image.jpg"
             width="135"
             height="135"
             alt="Sma gold 3 milk powder tin 400g"/></span>
</span>
            </a>

            <div class="promotion"><span class="new-product"> NEW</span>
                <span class="discount">15% OFF</span>
            </div>
        </div>
        <div class="description">
            <h4>
                <a href="http://fedora-server/grocery_bag/magento2/pub/sma-gold-3-milk-powder-tin-400g.html">Sma gold 3 milk powder tin 400g</a>
            </h4>

            <p></p>
            <span class="size">XL / XXL / S </span>
        </div>
        <div class="price">
                                <span><div class="price-box price-final_price" data-role="priceBox" data-product-id="9">


<span class="price-container price-final_price tax weee"
        >
        <span id="old-price-9-widget-product-grid" data-price-amount="1200"
              data-price-type="finalPrice"
              class="price-wrapper "
                >
        <span class="price">LKR1,200.00</span>    </span>
        </span>

                                </div></span>
        </div>
        <div class="action-control">
                                                                    <span class="add2cart">
                                                                                                                                                                    <button class="action tocart primary btn btn-primary"
                                                                                                                                                                            data-post='{"action":"http:\/\/fedora-server\/grocery_bag\/magento2\/pub\/checkout\/cart\/add\/uenc\/aHR0cDovL2ZlZG9yYS1zZXJ2ZXIvZ3JvY2VyeV9iYWcvbWFnZW50bzIvcHViLw,,\/product\/9\/","data":{"product":"9","uenc":"aHR0cDovL2ZlZG9yYS1zZXJ2ZXIvZ3JvY2VyeV9iYWcvbWFnZW50bzIvcHViLw,,"}}'
                                                                                                                                                                            type="button" title="Add to Cart">
                                                                                                                                                                        <i class="glyphicon glyphicon-shopping-cart"></i>Add to Cart
                                                                                                                                                                    </button>
                                                                                                                </span>
        </div>
    </div>
</div>
<div class="item">
    <div class="product">
        <div class="actions-secondary" data-role="add-to-links">
            <a href="#" data-toggle="tooltip" data-original-title="Add to Wishlist"
               data-placement="left"
               data-post='{"action":"http:\/\/fedora-server\/grocery_bag\/magento2\/pub\/wishlist\/index\/add\/","data":{"product":"10","uenc":"aHR0cDovL2ZlZG9yYS1zZXJ2ZXIvZ3JvY2VyeV9iYWcvbWFnZW50bzIvcHViLw,,"}}' class="action towishlist add-fav tooltipHere" data-action="add-to-wishlist" title="Wish List">
                <i class="glyphicon glyphicon-heart"/>
            </a>
            <a href="#" class="action tocompare add-fav tooltipHere"
               data-placement="left"
               data-toggle="tooltip" data-original-title="Add to Wishlist"
               data-post='{"action":"http:\/\/fedora-server\/grocery_bag\/magento2\/pub\/catalog\/product_compare\/add\/","data":{"product":"10","uenc":"aHR0cDovL2ZlZG9yYS1zZXJ2ZXIvZ3JvY2VyeV9iYWcvbWFnZW50bzIvcHViLw,,"}}'
               title="Compare">
                <i class="glyphicon glyphicon-heart"/>
            </a>
        </div>
        <div class="image">
            <div class="quickview">
                <a title="Quick View" class="btn btn-xs  btn-quickview"
                   data-target="#product-details-modal" data-toggle="modal"> Quick View </a>
            </div>
            <a href="http://fedora-server/grocery_bag/magento2/pub/cow-gate-premium-400g.html">

<span class="product-image-container"
      style="width:240px;">
    <span class="product-image-wrapper"
          style="padding-bottom: 125%;">
        <img class="product-image-photo"
             src="http://fedora-server/grocery_bag/magento2/pub/static/frontend/Onic/groceries/en_US/Magento_Catalog/images/product/placeholder/small_image.jpg"
             width="135"
             height="135"
             alt="Cow/gate premium 400g"/></span>
</span>
            </a>

            <div class="promotion"><span class="new-product"> NEW</span>
                <span class="discount">15% OFF</span>
            </div>
        </div>
        <div class="description">
            <h4>
                <a href="http://fedora-server/grocery_bag/magento2/pub/cow-gate-premium-400g.html">Cow/gate premium 400g</a>
            </h4>

            <p></p>
            <span class="size">XL / XXL / S </span>
        </div>
        <div class="price">
                                <span><div class="price-box price-final_price" data-role="priceBox" data-product-id="10">


<span class="price-container price-final_price tax weee"
        >
        <span id="old-price-10-widget-product-grid" data-price-amount="1180"
              data-price-type="finalPrice"
              class="price-wrapper "
                >
        <span class="price">LKR1,180.00</span>    </span>
        </span>

                                </div></span>
        </div>
        <div class="action-control">
                                                                    <span class="add2cart">
                                                                                                                                                                    <button class="action tocart primary btn btn-primary"
                                                                                                                                                                            data-post='{"action":"http:\/\/fedora-server\/grocery_bag\/magento2\/pub\/checkout\/cart\/add\/uenc\/aHR0cDovL2ZlZG9yYS1zZXJ2ZXIvZ3JvY2VyeV9iYWcvbWFnZW50bzIvcHViLw,,\/product\/10\/","data":{"product":"10","uenc":"aHR0cDovL2ZlZG9yYS1zZXJ2ZXIvZ3JvY2VyeV9iYWcvbWFnZW50bzIvcHViLw,,"}}'
                                                                                                                                                                            type="button" title="Add to Cart">
                                                                                                                                                                        <i class="glyphicon glyphicon-shopping-cart"></i>Add to Cart
                                                                                                                                                                    </button>
                                                                                                                </span>
        </div>
    </div>
</div>
</div>
</div>
</div>