<?xml version="1.0"?>
<!--
/**
 * Copyright 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">

    <preference for="Onic\ThemeInterface\Api\StoreConfigManagerInterface"
                type="Onic\ThemeInterface\Model\StoreConfigManager"/>
    <preference for="Onic\Quote\Api\Data\CartItemInterface"
                type="Onic\Quote\Model\Quote\Item"/>
    <preference for="Magento\Quote\Model\Quote\Item"
                type="Onic\Quote\Model\Quote\Item"/>
    <preference for="Onic\Quote\Api\GuestCartItemRepositoryInterface"
                type="Onic\Quote\Model\GuestCart\GuestCartItemRepository"/>
    <preference for="Magento\Quote\Api\Data\TotalsItemInterface"
                type="Onic\Quote\Model\Cart\Totals\Item" />

</config>