<?xml version="1.0"?>
<!--
/**
 * Copyright 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">

    <preference for="Onic\ThemeInterface\Api\StoreConfigManagerInterface"
                type="Onic\ThemeInterface\Model\StoreConfigManager" />
    <preference for="Onic\ThemeInterface\Api\Data\StoreConfigInterface"
                type="Onic\ThemeInterface\Model\StoreConfig" />
    <preference for="Magento\Store\Model\Data\StoreConfig"
                type="Onic\ThemeInterface\Model\StoreConfig" />
    <preference for="Magento\Catalog\Api\ProductRepositoryInterface"
                type="Onic\ThemeInterface\Model\ProductRepository" />
</config>